@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
	margin: 0px;
	padding: 0px;
	background: #1b192b;
	font-family: 'Inter', sans-serif !important;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
a,
ul,
li {
	margin: 0px;
	padding: 0px;
}

font-family: 'Poppins',
sans-serif;
font-family: 'Cabin',
sans-serif;

/*needed*/
a {
	text-decoration: none !important;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-ms-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
}

a:hover {
	text-decoration: none !important;
}

ul {
	list-style-type: none;
}

.clear {
	clear: both;
}

/*needed*/
.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img {
	display: block;
	max-width: 100%;
	height: auto;
}

.grid {
	width: 90%;
	padding: 0px 15px;
	margin: 0px auto;
}

/***** start of header ********/

.header {
	margin: 0px 0px 0px 0px;
	padding: 40px 0px 40px 0px;
	background: transparent;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.header-row {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

a.logo {
	margin: 0px 0px 0px 0px;
}

.header-right {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.header-right ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	float: left;
}

.header-right ul li {
	margin: 0px 36px 0px 0px;
	padding: 0px 0px 0px 0px;
	float: left;
}

.header-right ul li a {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color: #fff;
	font-weight: normal;
	font-size: 16px;
	display: block;
}

.header-right ul li a:hover {
	color: #D63031;
}

.header-right ul li.lang {
	margin: 0px 0px 0px 0px;
}

ul li.lang a {
	margin: 0px 0px 0px 0px;
	background: url(../images/global.png) left 2px no-repeat;
	padding: 0px 0px 0px 25px !important;
}

/** banner **/

.banner {
	margin: 0px 0px 0px 0px;
	padding: 30px 0px 30px 0px;
}

.banner-row {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.banner-row h1 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color: #fff;
	font-weight: 500;
	font-size: 56px;
	text-align: center;
}

.banner-row h1 span {
	color: #D63031;
}

/** sec3 **/

.sec3 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 50px 0px;
}

.sec3-row {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	display: flex;
	column-gap: 20px;
}

.sec3-left {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 100%;
}

.sec3-flex {
	margin: 20px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	display: flex;
	column-gap: 20px;
}

.web-bx1 {
	margin: 0px 0px 0px 0px;
	padding: 25px 25px 25px 25px;
	width: 100%;
	height: 250px;
	border-radius: 12px;
	display: flex;
	align-items: center;
	transition: 300ms;
	border: 1px solid #D63031;
	background: #d6303031;
}

.web-bx1:hover {
	border: 1px solid #fff;
}

.web-bx-icn {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 64px;
	height: 66px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	transition: 300ms;
	background: #D63031;
	margin-bottom: 10px;
}

.web-bx1:hover .web-bx-icn {
	background: #D63031;
}

.web-bx1 h4 {
	margin: 24px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
	color: #fff;
	font-weight: 600;
	font-size: 28px;
	transition: 300ms;
}

.web-bx1:hover h4 {
	color: #D63031;
}

.web-bx1 h5 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color: #fff;
	font-weight: normal;
	font-size: 18px;
}

.sec3-right {
	margin: 20px 0px 0px 0px;
	padding: 20px 15px 20px 15px;
	width: 100%;
	background: #d6303031;
	border: 1px solid #323040;
	border-radius: 12px;
}

#myChart {
	width: 100% !important;
}

.sec3-right h4 {
	margin: 0px 0px 30px 0px;
	padding: 0px 0px 0px 0px;
	color: #fff;
	font-weight: 600;
	font-size: 20px;
}

.breach-row {
	margin: 20px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	display: flex;
	column-gap: 20px;
}

.breach1 {
	margin: 0px 0px 0px 0px;
	padding: 20px 0px 20px 0px;
	width: 100%;
	background: #262436;
	border: 1px solid #323040;
	border-radius: 12px;
}

.breach1 h4 {
	margin: 0px 0px 20px 0px;
	padding: 0px 15px 0px 15px;
	color: #fff;
	font-weight: 600;
	font-size: 20px;
}

.breach-flex {
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
	display: flex;
	column-gap: 10px;
}

.breach-flex2 {
	margin: 0px 0px 0px 0px;
}

.breach-flex1 {
	margin: 0px 0px 0px 0px;
	padding: 11px 20px;
	width: 100%;
}

.breach-flex1 h5 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color: #fff;
	font-weight: normal;
	font-size: 16px;
}

.breach-flex1 h5 span {
	margin: 0px 0px 5px 0px;
	padding: 0px 0px 0px 0px;
	color: #7c7b83;
	font-weight: normal;
	font-size: 16px;
	display: block;
}

.breach-flex11 {
	background: #2C2B3C;
}

.breach-flex11 h5 span {
	margin: 0px 5px 0px 0px;
	display: inline;
}

.breach1 ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.breach1 ul li {
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
	color: #fff;
	font-weight: normal;
	font-size: 16px;
}

.breach1 ul li a {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color: #fff;
	font-weight: normal;
	font-size: 16px;
}

.breach1 ul li.last {
	margin: 0px 0px 0px 0px;
}

.buttons {
	margin: 60px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.buttons ul {
	margin: 0px auto 0px auto;
	padding: 0px 0px 0px 0px;
	display: flex;
	width: max-content;
	column-gap: 10px;
}

.buttons ul li {
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
}

.buttons ul li a {
	margin: 0px 0px 0px 0px;
	padding: 10px 28px 10px 28px;
	color: #fff;
	font-weight: 600;
	font-size: 16px;
	text-align: center;
	display: block;
	background: #323040;
	border-radius: 40px;
	border: 1px solid transparent;
}

.buttons ul li a:hover {
	color: #fff;
	border: 1px solid #D63031;
	background: #d6303031;
}

.buttons ul li.last {
	margin: 0px 0px 0px 0px;
}

/** copy **/

.copy {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.copy-row {
	margin: 0px 0px 0px 0px;
	padding: 20px 0px 20px 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid #494755;
}

.copy-row p {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color: #fff;
	font-weight: normal;
	font-size: 14px;
}

.copy-row ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	display: flex;
	column-gap: 20px;
}

.copy-row ul li {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.copy-row ul li a {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color: #fff;
	font-size: 16px;
}

.copy-row ul li a:hover {
	color: #fff;
}

.copy-row ul li.last {
	margin: 0px 0px 0px 0px;
}

.web-in {
	padding: 15px 10px;
	text-align: center;
}