a {
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.engage {
	padding: 100px 0;
}

.heading-title {
	margin-bottom: 100px;
}

.main-timeline {
	position: relative;
	transition: all 0.4s ease 0s;
}

.main-timeline:before {
	content: "";
	width: 3px;
	height: 100%;
	background: #bfbfbf;
	position: absolute;
	top: 0;
	left: 50%;
}

.main-timeline .timeline {
	position: relative;
}

.main-timeline .timeline:before,
.main-timeline .timeline:after {
	content: "";
	display: block;
	width: 100%;
	clear: both;
}

.main-timeline .timeline-icon {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #fff;
	border: 2px solid #0a90d7;
	position: absolute;
	top: 0;
	left: 3px;
	right: 0;
	margin: 0 auto;
	overflow: hidden;
}

.main-timeline .timeline-content {
	font-family: 'Poppins', 'Source Sans Pro', sans-serif;
	width: 45%;
	padding: 20px;
	border-radius: 5px;
	text-align: right;
	-webkit-box-shadow: 0 3px 0 #6daae0; // blue ; //rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 3px 0 #6daae0; // rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 3px 0 #6daae0; //rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
}

/*
.ver {
	font-family: 'Poppins', 'Source Sans Pro', sans-serif;
	display: inline-block;
	height: auto;
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	padding: 6px 20px;
	background: green;
	border-radius: 20px;

}
**/
.ver {
	font-family: 'Poppins', 'Source Sans Pro', sans-serif;
	display: inline-block;
	height: auto;
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	padding: 6px 20px;
	background: green;
	border-radius: 20px;
	position: relative;
}

.ver::after {
	content: "This is confirmed positive.";
	display: none;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	background-color: #333;
	color: #fff;
	padding: 5px;
	border-radius: 4px;
	font-size: 12px;
	white-space: nowrap;
}

.ver:hover::after {
	display: block;
}


.ver2 {
	margin: 0px 5px 0px 5px;
}

/**
.notver {
	font-family: 'Poppins', 'Source Sans Pro', sans-serif;
	display: inline-block;
	height: 36px;
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	padding: 10px 20px;
	background: #808080;
	border-radius: 20px;

}
**/

.notver {
	font-family: 'Poppins', 'Source Sans Pro', sans-serif;
	display: inline-block;
	height: 36px;
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	padding: 10px 20px;
	background: #808080;
	border-radius: 20px;
	position: relative;
}

.notver::after {
	content: "This indicates it is not confirmed positive ";
	display: none;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	background-color: #333;
	color: #fff;
	padding: 5px;
	border-radius: 4px;
	font-size: 12px;
	white-space: nowrap;
}

.notver:hover::after {
	display: block;
}

.false {
	font-family: 'Poppins', 'Source Sans Pro', sans-serif;
	display: inline-block;
	height: 36px;
	font-size: 14px;
	font-weight: 150;
	color: #fff;
	padding: 10px 20px;
	background: gray;
	border-radius: 20px;
}

.ser {
	font-family: 'Poppins', 'Source Sans Pro', sans-serif;
	display: inline-block;
	height: 36px;
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	padding: 10px 20px;
	background: purple;
	border-radius: 20px;
	border-style: groove;
	border-color: white;
}

/**
.notser {
	font-family: 'Poppins', 'Source Sans Pro', sans-serif;
	display: inline-block;
	height: auto;
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	padding: 6px 20px;
	background: #ff1a1a;
	border-radius: 20px;

}

*/

.notser {
	font-family: 'Poppins', 'Source Sans Pro', sans-serif;
	display: inline-block;
	height: auto;
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	padding: 6px 20px;
	background: #ff1a1a;
	border-radius: 20px;
	position: relative;
}

.notser::after {
	content: "A data breach is the intentional or unintentional release of secure or private/confidential information to an untrusted environment.";
	display: none;
	position: absolute;
	top: 100%;
	/* position the tooltip just below the .notser element */
	left: 50%;
	/* center the tooltip horizontally */
	transform: translateX(-50%);
	/* adjust for true centering */
	background-color: #333;
	/* tooltip background color */
	color: #fff;
	/* tooltip text color */
	padding: 5px;
	border-radius: 4px;
	font-size: 12px;
	white-space: nowrap;
}

.notser:hover::after {
	display: block;
}


.main-timeline .date {
	font-family: 'Poppins', 'Source Sans Pro', sans-serif;
	display: inline-block;
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	padding: 12px 33px;
	background: #0a90d7;
	border-radius: 30px;
}

.main-timeline .title {
	font-family: 'Poppins', 'Source Sans Pro', sans-serif;
	font-size: 24px;
	font-weight: 500;
	color: #5c5151;
	margin-top: 30px;
}

.main-timeline .description {
	font-family: 'Poppins', 'Source Sans Pro', sans-serif;
	font-size: 14px;
	color: #606060;
	line-height: 2;
}

.main-timeline .timeline-content.right {
	float: right;
	text-align: left;
}

@media only screen and (max-width: 767px) {
	.main-timeline:before {
		left: 0;
	}

	.main-timeline .timeline-icon {
		left: -8px;
		margin: 0;
	}

	.main-timeline .timeline-content {
		width: 90%;
		float: right;
	}
}

[data-theme="dark"] .modal-body {
	background: #313131;
	color: #9fc0e0;
	border: whitesmoke;
}

[data-theme="dark"] .modal-footer {
	background: #313131;
	color: #9fc0e0;
	border: whitesmoke;
}

[data-theme="dark"] .modal-header {
	background: #151515;
	color: #9fc0e0;
	border: whitesmoke;
}

[data-theme="dark"] .hortree-label {
	color: #9fc0e0;
	background-color: #313131;
	border: 1px solid #444;
}

[data-theme="dark"] .hortree-edge {
	border-color: #444;
}

#clippy-button {
	position: fixed;
	right: 0;
	bottom: 10px;
	cursor: pointer;
	// box-sizing: border-box;
}



[data-theme="dark"] {
	background-color: #0e0f19 !important;
	color: #9fc0e0;
}

[data-theme="dark"] .bg-light {
	background-color: #333 !important;
}

[data-theme="dark"] .navbar-toggler-icon {
	background-color: #333 !important;
	color: #9fc0e0
}

[data-theme="dark"] .bg-white {
	background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
	background-color: #eee !important;
}

[data-theme="dark"] .xon {
	background-color: #0e0f19;
}

[data-theme="dark"] .searchMe {
	background-color: #0e0f19;
}

[data-theme="dark"] .info {
	background-color: #0e0f19;
}

[data-theme="dark"] .about2 {
	background-color: #181b2d;
	color: #9fc0e0;
}

[data-theme="dark"] .about2 p {
	color: #9fc0e0;
}

[data-theme="dark"] .panel-body {
	color: #9fc0e0;
	background-color: #0e0f19;
}

[data-theme="dark"] td {
	color: #9fc0e0;
	background-color: #0e0f19;
}

[data-theme="dark"] th {
	color: #9fc0e0;
	background-color: #0e0f19;
}

[data-theme="dark"] .about2 ul li a {
	color: #9fc0e0;
}

[data-theme="dark"] .about1 {
	background-color: #181b2d;
	color: #9fc0e0;
}

[data-theme="dark"] .about1 pre {
	color: #9fc0e0;
}

[data-theme="dark"] .about1 p {
	color: #9fc0e0;
}

[data-theme="dark"] .about1 ul li a {
	color: #9fc0e0;
}

[data-theme="dark"] .main-footer {
	background-color: #0e0f19;
}

#tree-container {
	width: 100%;
	min-height: 300px;

	overflow-x: auto;

	margin: 20px 0;

}

.hortree-wrapper {
	min-width: 800px;

	padding: 20px;
}


.back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background: #3c5fec;
	color: white;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;

	transition: opacity 0.3s, visibility 0.3s;
	z-index: 1000;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.back-to-top:hover {
	background: #2847c3;
	transform: translateY(-2px);
	transition: all 0.3s ease;
}

.back-to-top.visible {
	opacity: 1;
	visibility: visible;
}

[data-theme="dark"] .back-to-top {
	background: #6daae0;
}


@media screen and (min-width: 768px) {
	.back-to-top {
		width: 45px;
		height: 45px;
	}

	.back-to-top i {
		font-size: 1.2em;
	}
}