@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
	margin: 0px;
	padding: 0px;
	background: #1b192b url(../images/red-web.png) right top no-repeat !important;
	font-family: 'Inter', sans-serif !important;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
a,
ul,
li {
	margin: 0px;
	padding: 0px;
}

font-family: 'Poppins', sans-serif;

.header a {
	text-decoration: none !important;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-ms-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
	color: white !important;
}

.header a:hover {
	text-decoration: none !important;
	color: white !important;
}

.navbar a {
	text-decoration: none !important;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-ms-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
	color: white !important;
}

.navbar a:hover {
	text-decoration: none !important;
	color: white !important;
}


body a {
	text-decoration: none !important;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-ms-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
	color:white  !important;;
}

body a:hover {
	text-decoration: none !important;
}

ul {
	list-style-type: none;
}

.clear {
	clear: both;
}


  .modal-content {
      border-radius: 10px;
    }

    .dark-mode {
      background-color: #343a40;
      color: white;
    }

    .light-mode {
      background-color: #f1f1f1;
      color: black;
    }

    .modal-header {
      background-color: #343a40;
      color: white;
      border-bottom: none;
    }

    .modal-title {
      font-size: 24px;
      font-weight: bold;
    }

    .modal-body {
      padding: 2rem;
    }

    .btn-primary {
      background-color: #007bff;
      border-color: #007bff;
    }

    .btn-success {
      background-color: #28a745;
      border-color: #28a745;
    }

    .form-control {
      border-radius: 5px;
      margin-bottom: 15px;
    }

    .modal-dialog-centered {
      display: flex;
      align-items: center;
      min-height: calc(100% - 1rem);
    }

    .modal-dialog {
      max-width: 900px;
      margin: auto;
    }

    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1040;
      display: none;
    }

    .blurred {
      filter: blur(5px);
      pointer-events: none;
    }

    #logo {
      display: none;
      margin-left: 10px;
    }

    .confetti {
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 1050;
      pointer-events: none;
      overflow: hidden;
    }

    .error-message {
      color: red;
      text-align: center;
      margin-top: 15px;
    }

    #submitButton {
      position: relative;
    }

    #spinner {
      margin-left: 10px;
    }
.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img {
	display: block;
	max-width: 100%;
	height: auto;
}

.grid {
	width: 90%;
	padding: 0px 15px;
	margin: 0px auto;
}

/***** start of header ********/

.header {
	margin: 0px 0px 0px 0px;
	padding: 40px 0px 40px 0px;
	background: transparent;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.header-row {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

a.logo {
	margin: 0px 0px 0px 0px;
}

.header-right {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.header-right ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	float: left;
}

.header-right ul li {
	margin: 0px 36px 0px 0px;
	padding: 0px 0px 0px 0px;
	float: left;
}

.header-right ul li a {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color: #fff;
	font-weight: normal;
	font-size: 16px;
	display: block;
}

.header-right ul li a:hover {
	color: #D63031;
}

.header-right ul li.lang {
	margin: 0px 0px 0px 0px;
}

ul li.lang a {
	margin: 0px 0px 0px 0px;
	background: url(../images/global.png) left 2px no-repeat;
	padding: 0px 0px 0px 25px !important;
}


.banner {
	margin: 0px 0px 0px 0px;
	padding: 20px 0px 25px 0px;
}

.banner-row {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.banner-row h1 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color: #fff;
	font-weight: 500;
	font-size: 56px;
	text-align: center;
}

.banner-row h1 span {
	color: #D63031;
}

/** sec3 **/

.sec3 {
	margin: 0px 0px 0px 0px;
	padding: 60px 0px 70px 0px;
}

.sec3-row {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sec3 h4 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color: #fff;
	font-weight: 600;
	font-size: 24px;
}

.updt {
	margin: 0px 0px 0px 0px;
	padding: 10px 18px 10px 18px;
	background: #323040;
	border-radius: 40px;
}

.updt p {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color: #c1c1c5;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
}

.updt p span {
	color: #fff;
}

.sec3-flex {
	margin: 20px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	display: flex;
	column-gap: 20px;
}

.web-bx1 {
	margin: 0px 0px 0px 0px;
	padding: 22px 45px 22px 45px;
	width: 100%;
	border: 1px solid #323040;
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 300ms;
	background: #d6303031;
}

.web-bx1:hover {
	border: 1px solid #D63031;
}

.web-bx-icn {
	margin: 0px auto 0px auto;
	padding: 0px 0px 0px 0px;
	width: 64px;
	height: 66px;
	border-radius: 10px;
	background: #323040;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 300ms;
	background: #D63031;
}

.web-bx1:hover .web-bx-icn {
	background: #D63031;
}

.web-bx1 h4 {
	margin: 24px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
	color: #fff;
	font-weight: 600;
	font-size: 28px;
	text-align: center;
	transition: 300ms;
}

.web-bx1:hover h4 {
	color: #D63031;
}

.web-bx1 h5 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color: #fff;
	font-weight: normal;
	font-size: 18px;
	text-align: center;
}

.web-bx4 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-radius: 8px;
}

/** sec4 **/

.sec4 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 70px 0px;
}

.sec4-row {
	margin: 0px 0px 0px 0px;
	padding: 50px 50px 50px 50px;
	background: #323040 url(../images/Frame1.png) center no-repeat;
	background-size: cover;
	height: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
}

.sec4-text {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

img.lock {
	margin: 0px auto 0px auto;
	display: block;
}

.sec4-text h4 {
	margin: 30px 0px 30px 0px;
	padding: 0px 0px 0px 0px;
	color: #fff;
	font-weight: 600;
	font-size: 24px;
	text-align: center;
}

a.verify-btn {
	margin: 0px auto 0px auto;
	padding: 10px 28px 10px 28px;
	color: #fff;
	font-weight: 600;
	font-size: 16px;
	text-align: center;
	width: max-content;
	border-radius: 40px;
	background: orangered;
	display: block;
}


.copy {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.copy-row {
	margin: 0px 0px 0px 0px;
	padding: 20px 0px 20px 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid #494755;
}

.copy-row p {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color: #fff;
	font-weight: normal;
	font-size: 14px;
}

.copy-row ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	display: flex;
	column-gap: 20px;
}

.copy-row ul li {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.copy-row ul li a {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color: #fff;
	font-size: 16px;
}

.copy-row ul li a:hover {
	color: #fff;
}

.copy-row ul li.last {
	margin: 0px 0px 0px 0px;
}

.modal-content {
	background-color: #f9f9f9;
	border-radius: 10px;
}

.modal-header {
	background-color: #343a40;
	color: white;
	border-bottom: none;
}

.modal-title {
	font-size: 24px;
	font-weight: bold;
}

.modal-body {
	padding: 2rem;
}

.btn-primary {
	background-color: #007bff;
	border-color: #007bff;
}

.btn-success {
	background-color: #28a745;
	border-color: #28a745;
}

.form-control {
	border-radius: 5px;
}

.close {
	color: white;
	opacity: 1;
}

.modal-dialog-centered {
	display: flex;
	align-items: center;
	min-height: calc(100% - 1rem);
}

.modal-dialog {
	max-width: 900px;
	margin: auto;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1040;
	display: none;
}

.blurred {
	filter: blur(5px);
	pointer-events: none;
}

#logo {
	display: none;
	margin-left: 10px;
}

.confetti {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1050;
	pointer-events: none;
	overflow: hidden;
}

.modal-content {
	background-color: #f9f9f9;
	border-radius: 10px;
}

.dark-mode {
	background-color: #343a40;
	color: white;
}

.modal-header {
	background-color: #343a40;
	color: white;
	border-bottom: none;
}

.modal-title {
	font-size: 24px;
	font-weight: bold;
}

.modal-body {
	padding: 2rem;
}

.btn-primary {
	background-color: #007bff;
	border-color: #007bff;
}

.btn-success {
	background-color: #28a745;
	border-color: #28a745;
}

.form-control {
	border-radius: 5px;
}

.close {
	color: white;
	opacity: 1;
}

.modal-dialog-centered {
	display: flex;
	align-items: center;
	min-height: calc(100% - 1rem);
}

.modal-dialog {
	max-width: 900px;
	margin: auto;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1040;
	display: none;
}

.blurred {
	filter: blur(5px);
	pointer-events: none;
}

#logo {
	display: none;
	margin-left: 10px;
}

.confetti {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1050;
	pointer-events: none;
	overflow: hidden;
}
